@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
body {    
    color: white;
    background: black;
    margin: 0px;
    margin-bottom: 100px;
}

header {
    font-family: "Bebas Neue", sans-serif;
    padding: 20px;
    font-size: 80px;
    color: rgb(90, 90, 255);
    
}

.chamada {
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
    background: linear-gradient(90deg, #fffcff, #0b5b29);
}

.chamada-texto {
    margin-right: 5%;
}

h1 {
    font-size: 42px;
}

p {
    font-size: 20px;
}

.categoria-videos {
    display: flex;
    overflow-x: auto;
    gap: 10px;

}

.categoria {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px;
    font-size: 25px;
    font-family: "Bebas Neue", sans-serif;
}

.categoria-videos img {
    opacity: 0.5;
    height: 200px;
    
}

.categoria-videos img:hover {
    opacity: 1.0;
    border: 3px solid green;
    
}

.categoria h2 {
    color: rgb(42, 122, 228);
}
